DB_HOST=localhost
DB_PORT=5432
DB_NAME=service_incident_db
DB_USER=postgres
DB_PASS=tu_password

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=tu_correo@gmail.com
SMTP_PASS=tu_contraseña_de_aplicacion
SMTP_FROM=tu_correo@gmail.com
SMTP_FROM_NAME=Sistema de Incidencias

USER_SERVICE_URL=http://localhost:8003/index.php
ROL_SERVICE_URL=http://localhost:8002/index.php

